dify-workflows/etsy-seller-toolkit.yml
app:
  description: 'Generate an SEO-optimized Etsy title, 13 tags, and a product description from a product idea.'
  icon: 🛍️
  icon_background: '#FFF3E0'
  mode: workflow
  name: Etsy Seller Toolkit
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.3.1
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      enabled: false
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: llm
      id: edge-start-to-llm
      source: start_node
      sourceHandle: source
      target: llm_node
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: edge-llm-to-code
      source: llm_node
      sourceHandle: source
      target: code_node
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: end
      id: edge-code-to-end
      source: code_node
      sourceHandle: source
      target: end_node
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:

    # ── START NODE ──────────────────────────────────────────────────
    - data:
        desc: 'Enter the product idea to generate a listing for'
        selected: false
        title: Start
        type: start
        variables:
        - label: Product Idea
          max_length: 500
          options: []
          required: true
          type: paragraph
          variable: product_idea
      height: 116
      id: start_node
      position:
        x: 30
        y: 200
      positionAbsolute:
        x: 30
        y: 200
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244

    # ── LLM NODE ────────────────────────────────────────────────────
    - data:
        desc: 'Generate Etsy title, tags, and description as structured JSON'
        title: Generate Etsy Listing
        type: llm
        model:
          provider: anthropic
          name: claude-haiku-4-5
          mode: chat
          completion_params:
            temperature: 0.7
            max_tokens: 1500
        prompt_template:
          - role: system
            text: |
              You are an expert Etsy SEO specialist with years of experience helping
              digital product sellers rank higher in Etsy search results.

              Given a product idea, generate exactly three things:

              1. TITLE: A single Etsy product title.
                 - Must be exactly 3 to 14 words (count carefully)
                 - Put the most important search keywords first
                 - Sound natural, like a real product name
                 - No ALL-CAPS, no excessive punctuation, no keyword stuffing

              2. TAGS: Exactly 13 tags that buyers actually search for.
                 - Each tag must be 20 characters or fewer (including spaces)
                 - Mix of broad tags (e.g. "digital planner") and specific tags (e.g. "weekly planner pdf")
                 - No special characters: no &, <, >, or "
                 - Think like a buyer, not a seller

              3. DESCRIPTION: A product description of 150 to 500 words.
                 - Start with the buyer's problem or desire
                 - Describe what the product is and what it includes
                 - Use a warm, conversational tone — like talking to a friend
                 - End with a gentle call to action
                 - Do NOT stuff keywords unnaturally

              CRITICAL: Respond ONLY with valid JSON in this exact format, nothing else:
              {
                "title": "your title here",
                "tags": ["tag1", "tag2", "tag3", "tag4", "tag5", "tag6", "tag7", "tag8", "tag9", "tag10", "tag11", "tag12", "tag13"],
                "description": "your description here"
              }
          - role: user
            text: 'Product idea: {{#start_node.product_idea#}}'
        vision:
          enabled: false
          configs:
            variable_selector: []
        memory:
          enabled: false
          window:
            enabled: false
            size: 50
        context:
          enabled: false
          variable_selector: []
        structured_output:
          enabled: false
        retry_config:
          enabled: true
          max_retries: 2
          retry_interval: 1000
          exponential_backoff:
            enabled: false
            multiplier: 2
            max_interval: 10000
      height: 122
      id: llm_node
      position:
        x: 334
        y: 200
      positionAbsolute:
        x: 334
        y: 200
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244

    # ── CODE NODE (parse + validate JSON from LLM) ──────────────────
    - data:
        desc: 'Parse LLM JSON output and validate Etsy constraints'
        title: Validate & Parse
        type: code
        code_language: python3
        code: |
          import json
          import re

          def main(llm_output: str) -> dict:
              # Strip markdown fences if present
              clean = re.sub(r'```(?:json)?|```', '', llm_output).strip()

              try:
                  data = json.loads(clean)
              except json.JSONDecodeError as e:
                  return {
                      "title": "",
                      "tags": [],
                      "description": "",
                      "validation_errors": [f"JSON parse error: {str(e)}"]
                  }

              errors = []
              title = data.get("title", "")
              tags = data.get("tags", [])
              description = data.get("description", "")

              # Validate title
              words = title.strip().split()
              if len(words) < 3:
                  errors.append(f"Title too short: {len(words)} words (min 3)")
              if len(words) > 14:
                  errors.append(f"Title too long: {len(words)} words (max 14)")

              # Validate tags
              if len(tags) != 13:
                  errors.append(f"Wrong tag count: {len(tags)} (need exactly 13)")
              for i, tag in enumerate(tags):
                  if len(tag) > 20:
                      errors.append(f"Tag {i+1} too long: '{tag}' ({len(tag)} chars, max 20)")
                  if re.search(r'[&<>"]', tag):
                      errors.append(f"Tag {i+1} has invalid characters: '{tag}'")

              return {
                  "title": title,
                  "tags": tags,
                  "tags_display": ", ".join(tags),
                  "description": description,
                  "validation_errors": errors,
                  "is_valid": len(errors) == 0
              }
        inputs:
          llm_output:
            type: string
            value_selector:
              - llm_node
              - text
        outputs:
          title:
            type: string
          tags:
            type: array[string]
          tags_display:
            type: string
          description:
            type: string
          validation_errors:
            type: array[string]
          is_valid:
            type: boolean
      height: 122
      id: code_node
      position:
        x: 638
        y: 200
      positionAbsolute:
        x: 638
        y: 200
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244

    # ── END NODE ─────────────────────────────────────────────────────
    - data:
        desc: ''
        outputs:
          - value_selector:
              - code_node
              - title
            value_type: string
            variable: title
          - value_selector:
              - code_node
              - tags_display
            value_type: string
            variable: tags_display
          - value_selector:
              - code_node
              - description
            value_type: string
            variable: description
          - value_selector:
              - code_node
              - is_valid
            value_type: boolean
            variable: is_valid
          - value_selector:
              - code_node
              - validation_errors
            value_type: array[string]
            variable: validation_errors
        selected: false
        title: End
        type: end
      height: 122
      id: end_node
      position:
        x: 942
        y: 200
      positionAbsolute:
        x: 942
        y: 200
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 0
      y: 0
      zoom: 0.75
