dify-workflows/etsy-seller-toolkit.yml
app:
  description: Generate an SEO-optimized Etsy title, 13 tags, and a product description.
  icon: "\U0001F6CD\uFE0F"
  icon_background: '#FFF3E0'
  mode: workflow
  name: Etsy Seller Toolkit
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.3.1
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      enabled: false
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: llm
      id: edge-start-to-llm
      source: start_node
      sourceHandle: source
      target: llm_node
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: edge-llm-to-code
      source: llm_node
      sourceHandle: source
      target: code_node
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: end
      id: edge-code-to-end
      source: code_node
      sourceHandle: source
      target: end_node
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:

    - data:
        desc: Enter your product idea
        selected: false
        title: Start
        type: start
        variables:
        - label: Product Idea
          max_length: 500
          options: []
          required: true
          type: paragraph
          variable: product_idea
      height: 116
      id: start_node
      position:
        x: 30
        y: 200
      positionAbsolute:
        x: 30
        y: 200
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244

    - data:
        context:
          enabled: false
          variable_selector: []
        desc: Generate Etsy listing as JSON
        memory:
          enabled: false
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            max_tokens: 1500
            temperature: 0.7
          mode: chat
          name: claude-haiku-4-5-20251001
          provider: anthropic
        prompt_template:
        - role: system
          text: "You are an expert Etsy SEO specialist.\n\nGiven a product idea, generate\
            \ exactly:\n\n1. TITLE: 3-14 words, most searched keywords first, natural\
            \ sounding, no ALL-CAPS.\n\n2. TAGS: Exactly 13 tags, each 20 characters\
            \ or fewer including spaces, no special\ncharacters like & < > or quotes.\n\
            \n3. DESCRIPTION: 150-500 words, warm conversational tone, start with\
            \ the buyer's desire,\nend with a gentle call to action, no keyword stuffing.\n\
            \nRespond ONLY with valid JSON, no other text:\n{\n  \"title\": \"your\
            \ title here\",\n  \"tags\": [\"tag1\",\"tag2\",\"tag3\",\"tag4\",\"\
            tag5\",\"tag6\",\"tag7\",\"tag8\",\"tag9\",\"tag10\",\"tag11\",\"tag12\"\
            ,\"tag13\"],\n  \"description\": \"your description here\"\n}\n"
        - role: user
          text: 'Product idea: {{#start_node.product_idea#}}'
        retry_config:
          enabled: true
          exponential_backoff:
            enabled: false
            max_interval: 10000
            multiplier: 2
          max_retries: 2
          retry_interval: 1000
        selected: false
        structured_output:
          enabled: false
        title: Generate Etsy Listing
        type: llm
        vision:
          configs:
            variable_selector: []
          enabled: false
      height: 122
      id: llm_node
      position:
        x: 334
        y: 200
      positionAbsolute:
        x: 334
        y: 200
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244

    - data:
        code: "import json\nimport re\n\ndef main(llm_output: str) -> dict:\n    clean\
          \ = re.sub(r'```(?:json)?|```', '', llm_output).strip()\n    try:\n    \
          \    data = json.loads(clean)\n    except Exception as e:\n        return\
          \ {\"title\": \"\", \"tags_display\": str(e), \"description\": \"\", \"\
          is_valid\": False}\n    title = data.get(\"title\", \"\")\n    tags = data.get(\"\
          tags\", [])\n    description = data.get(\"description\", \"\")\n    errors\
          \ = []\n    words = title.strip().split()\n    if len(words) < 3:\n    \
          \    errors.append(f\"Title too short: {len(words)} words (min 3)\")\n \
          \   if len(words) > 14:\n        errors.append(f\"Title too long: {len(words)}\
          \ words (max 14)\")\n    if len(tags) != 13:\n        errors.append(f\"\
          Wrong tag count: {len(tags)} (need 13)\")\n    for i, tag in enumerate(tags):\n\
          \        if len(tag) > 20:\n            errors.append(f\"Tag {i+1} too long:\
          \ '{tag}' ({len(tag)} chars)\")\n    tags_display = \", \".join(tags)\n\
          \    validation_summary = \" | \".join(errors) if errors else \"All checks\
          \ passed\"\n    return {\n        \"title\": title,\n        \"tags_display\"\
          : tags_display,\n        \"description\": description,\n        \"is_valid\"\
          : len(errors) == 0,\n        \"validation_summary\": validation_summary\n\
          \    }\n"
        code_language: python3
        desc: Parse and validate LLM JSON output
        outputs:
          description:
            children: null
            type: string
          is_valid:
            children: null
            type: string
          tags_display:
            children: null
            type: string
          title:
            children: null
            type: string
          validation_summary:
            children: null
            type: string
        selected: false
        title: Validate and Parse
        type: code
        variables:
        - label: llm_output
          value_selector:
          - llm_node
          - text
          variable: llm_output
      height: 122
      id: code_node
      position:
        x: 638
        y: 200
      positionAbsolute:
        x: 638
        y: 200
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244

    - data:
        desc: ''
        outputs:
        - value_selector:
          - code_node
          - title
          value_type: string
          variable: title
        - value_selector:
          - code_node
          - tags_display
          value_type: string
          variable: tags_display
        - value_selector:
          - code_node
          - description
          value_type: string
          variable: description
        - value_selector:
          - code_node
          - is_valid
          value_type: string
          variable: is_valid
        - value_selector:
          - code_node
          - validation_summary
          value_type: string
          variable: validation_summary
        selected: false
        title: End
        type: end
      height: 122
      id: end_node
      position:
        x: 942
        y: 200
      positionAbsolute:
        x: 942
        y: 200
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 0
      y: 0
      zoom: 0.75
